html {
    box-sizing: border-box;
    font-size: 62.5%;
    box-sizing: border-box;
    font-size: 62.5%;
    margin: 0 auto;
    max-width: 800px;
    overflow-y: scroll;
    background-color: #E6E6FA;
}

body {
    color: #606c76;
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 1.6em;
    font-weight: 300;
    letter-spacing: .01em;
    line-height: 1.6;
}

.history {
    max-height: 500px;
    overflow-y: scroll;
    margin-bottom: 20px;
    border-color: #9b4dca;
    border-width: thin;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 0 1px 20px 0 rgb(0 0 0 /30%);
    padding: 0 10px 0 10px;
    background-color: #F0F8FF;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: LightGray;
    background-clip: content-box;
    border: 2px solid transparent;
    border-radius: 8px;
}

.prompt {
    background-image: url(prompt.png);
    background-repeat: no-repeat;
    background-position: 8px 8px;
    background-size: 16px 16px;
    padding: 8px 14px 7px 27px;
}

fieldset {
    border-width: 0;
    padding: 0;
    margin: auto;
}

textarea {
    border-radius: 10px;
    border-color: #9b4dca;
    border-width: thin;
    border-style: solid;
    outline: 0;
    padding: 10px;
    height: 6.5rem;
    box-shadow: 0 1px 20px 0 rgb(0 0 0 /30%);
    resize: none;
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
}

textarea:focus::placeholder {
    color: transparent;
}

.button {
    width: 250px;
    background-color: #662d91;
    border: 0.1rem solid #1d1160;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    height: 3.8rem;
    letter-spacing: .1rem;
    line-height: 3.8rem;
    text-align: center;
    vertical-align: middle;
    padding-top: 3px;
    text-decoration: none;
    white-space: nowrap;
    box-shadow: 0 1px 20px 0 rgb(0 0 0 /30%);
}

.float-right {
    float: right;
    vertical-align:middle;
}

.msg-sent {
    border-radius: 10px;
    background: #B9D9EB;
    background-image: url(human.png);
    background-repeat: no-repeat;
    background-position: 9px 9px;
    background-size: 20px 20px;
    color: #002244;
    margin-left: auto;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    max-width: 75%;
    display: table;
    padding: 8px 15px 7px 40px;
    text-align: right;
    box-shadow: 0 1px 10px 0 rgb(0 0 0 /30%);
}

.msg-rcvd {
    border-radius: 10px;
    background: #FBCEB1;
    background-image: url(bot.png);
    background-repeat: no-repeat;
    background-position: 9px 9px;
    background-size: 20px 20px;
    color: #002D62;
    margin-right: auto;
    margin-bottom: 10px;
    position: relative;
    max-width: 75%;
    display: table;
    padding: 8px 15px 7px 40px;
    text-align: left;
    box-shadow: 0 1px 10px 0 rgb(0 0 0 /30%);
}

table {
    border-collapse: collapse;
    border: 1px solid;
    margin-bottom: 20px;
}

td {
    border: 1px solid;
    padding: 5px;
}

tr {
    border: 1px solid;
    padding: 5px;
}

.doc-content {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: scroll;
    text-overflow: scroll;
    line-height: 1.1;
    border: none;
}
